@media only screen and (max-width: 767px) {
  .navbar-brand {
    height: 3rem;
    width: 7rem;
  }

  .nav-item1 {
    color: aliceblue;
    cursor: pointer;
  }

  .white {
    background-color: #e0ee67;
  }

  body {
    background-color: #eff0e7;
  }

  .social {
    font-size: 1.5rem;
    color: #494848;
    cursor: pointer;
  }

  .navbar-expand {
    display: none;
    background-color: #494848;
  }

  section {
    padding-top: 4rem;
    background-color: #f1f4fa;
  }

  .wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
  .wrap:hover {
    background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
    color: white;
  }

  .ico-wrap {
    margin: auto;
  }

  .mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
  }

  .vcenter {
    margin: auto;
  }

  .mbr-section-title3 {
    text-align: left;
  }

  .display-5 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4rem;
  }

  .mbr-bold {
    font-weight: 700;
  }

  .display-6 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1re;
  }

  .blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
  }
  .blog .carousel-indicators li {
    background: #6394ff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  .blog .carousel-indicators .active {
    background: #313131;
  }

  .aboutus-section {
    padding: 90px 0;
  }

  .aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
  }
  .aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
  }

  .aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
  }

  a:hover {
    color: #fdb801;
    text-decoration: none;
    outline: 0;
  }
  a:active {
    color: #fdb801;
    text-decoration: none;
    outline: 0;
  }

  .feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
  }
  .feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
  }
  .feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
  }

  .icon {
    color: #fdb801;
    padding: 0px;
    font-size: 40px;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
  }

  .worker {
    border-radius: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-brand {
    height: 3rem;
    width: 7rem;
  }

  .worker {
    border-radius: 30px;
  }

  .navbar-expand {
    background-color: #494848;
  }

  .nav-item1 {
    color: aliceblue;
    cursor: pointer;
  }

  body {
    background-color: #eff0e7;
    font-family: "Roboto";
    font-size: 16px;
  }

  .social {
    font-size: 1.5rem;
    color: #494848;
    cursor: pointer;
  }

  section {
    padding-top: 2rem;
    background-color: #f1f4fa;
  }

  .wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  .wrap:hover {
    background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
    color: white;
  }

  .ico-wrap {
    margin: auto;
  }

  .mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
  }

  .vcenter {
    margin: auto;
  }

  .mbr-section-title3 {
    text-align: left;
  }

  h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .display-5 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4rem;
  }

  .mbr-bold {
    font-weight: 700;
  }

  .text1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
  }

  .display-6 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
  }

  .blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
  }
  .blog .carousel-indicators li {
    background: #0a193b;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  .blog .carousel-indicators .active {
    background: #313131;
  }

  .carousel-color {
    background-color: #f1f4fa;
  }

  .aboutus-section {
    padding: 90px 0;
  }

  .aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
  }
  .aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
  }

  .aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
  }

  a:hover {
    color: #fdb801;
    text-decoration: none;
    outline: 0;
  }
  a:active {
    color: #fdb801;
    text-decoration: none;
    outline: 0;
  }

  .feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
  }
  .feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
  }
  .feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
  }

  .icon {
    padding: 0px;
    font-size: 40px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    size: 4rem;
  }

  .box {
    padding: 60px 0px;
  }

  .box-part {
    background: #FFF;
    border-radius: 30px;
    padding: 60px 10px;
    margin: 30px 0px;
  }

  .text {
    margin: 20px 0px;
  }

  span {
    font-size: 15px;
  }

  .fas {
    color: #fdb801;
  }
}

/*# sourceMappingURL=style.css.map */
