$color_navitem: aliceblue;
$color_socialicon: #494848;
$color_hover: white;
$color_4: #313131;
$color_5: #000;
$color_6: #606060;
$color_8: #0f0f0f;
$color_icon: #fdb801;
$font_family_links: 'Source Sans Pro',
sans-serif;
$font_family_aboutus: 'Roboto';
$background_color_yellow: rgb(224, 238, 103);
$background_color_body: rgb(239, 240, 231);
$background_color_navbar: #494848;
$background_color_section: #f1f4fa;
$radius:30px;