@import 'global/variables';
@import 'devices/smalldevices.scss';
@import "~bootstrap/scss/bootstrap";


@media only screen and (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-brand {
        height: 3rem;
        width: 7rem;
    }

    .worker {
        border-radius: $radius;
    }

    .navbar-expand {
        background-color: $background_color_navbar;
    }

    .nav-item1 {
        color: $color_navitem;
        cursor: pointer;
    }

    body {
        background-color: $background_color_body;
        font-family: $font_family_aboutus;
        font-size: 16px;
    }

    .social {
        font-size: 1.50rem;
        color: $color_socialicon;
        cursor: pointer;
    }

    section {
        padding-top: 2rem;
        background-color: $background_color_section;
    }

    .wrap {
        display: flex;
        background: white;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;

        &:hover {
            background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
            color: $color_hover;
        }
    }

    .ico-wrap {
        margin: auto;
    }

    .mbr-iconfont {
        font-size: 4.5rem !important;
        color: $color_4;
        margin: 1rem;
        padding-right: 1rem;
    }

    .vcenter {
        margin: auto;
    }

    .mbr-section-title3 {
        text-align: left;
    }

    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .display-5 {
        font-family: $font_family_links;
        font-size: 1.4rem;
    }

    .mbr-bold {
        font-weight: 700;
    }

    .text1 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 25px;
    }

    .display-6 {
        font-family: $font_family_links;
        font-size: 1rem;
    }

    .blog {
        .carousel-indicators {
            left: 0;
            top: auto;
            bottom: -40px;

            li {
                background: #0a193b;
                border-radius: 50%;
                width: 8px;
                height: 8px;
            }

            .active {
                background: #313131;
            }
        }
    }

    .carousel-color {
        background-color: $background_color_section;
    }

    .aboutus-section {
        padding: 90px 0;
    }

    .aboutus-title {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 32px;
        margin: 0 0 39px;
        padding: 0 0 11px;
        position: relative;
        text-transform: uppercase;
        color: $color_5;

        &::after {
            background: $color_icon none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            width: 54px;
        }
    }

    .aboutus-text {
        color: $color_6;
        font-size: 13px;
        line-height: 22px;
        margin: 0 0 35px;
    }

    a {
        &:hover {
            color: $color_icon;
            text-decoration: none;
            outline: 0;
        }

        &:active {
            color: $color_icon;
            text-decoration: none;
            outline: 0;
        }
    }

    .feature {
        .feature-box {
            .feature-content {
                h4 {
                    color: $color_8;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 22px;
                    margin: 0 0 5px;
                    color: $color_8;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 22px;
                    margin: 0 0 5px;
                }

                float: left;
                padding-left: 28px;
                width: 78%;

                p {
                    color: $color_6;
                    font-size: 13px;
                    line-height: 22px;
                }
            }
        }
    }

    .icon {
        padding: 0px;
        font-size: 40px;
        color: $color_icon;
        font-size: 28px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        width: 70px;
        size: 4rem;
    }

    .box {
        padding: 60px 0px;
    }

    .box-part {
        background: #FFF;
        border-radius: $radius;
        padding: 60px 10px;
        margin: 30px 0px;
    }

    .text {
        margin: 20px 0px;
    }

    span {
        font-size: 15px;
    }

    .fas {
        color: $color_icon;
    }
}